.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.gallery-item {
  border: 0.02px solid #2b0808;
  transition: transform 1s;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 1px 1px ;
  transition: transform 1s;
}

.gallery-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}

.gallery-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.descr-span {
  font-weight: 400;
}

.basicLightbox {
  padding: 28px 164px;
}

.basicLightbox__placeholder {
  width: 100%;
  height: 100%;
}
